USE [AdventureWorksLT2016]
GO

-- =============================================
-- Create Address
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Address_Create]
    @AddressLine1 NVARCHAR(60),
    @City NVARCHAR(30),
    @StateProvince NVARCHAR(50),
    @CountryRegion NVARCHAR(50),
    @PostalCode NVARCHAR(15),
    @AddressLine2 NVARCHAR(60) = NULL,
    @AddressID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [SalesLT].[Address]
    ([AddressLine1], [AddressLine2], [City], [StateProvince], [CountryRegion],
     [PostalCode], [rowguid], [ModifiedDate])
    VALUES
    (@AddressLine1, @AddressLine2, @City, @StateProvince, @CountryRegion,
     @PostalCode, NEWID(), GETDATE());

    SET @AddressID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Address_Delete]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Delete Address
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Address_Delete]
    @AddressID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM [SalesLT].[Address]
    WHERE [AddressID] = @AddressID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Address_GetAll]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Get All Addresses
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Address_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [AddressID], [AddressLine1], [AddressLine2], [City], [StateProvince],
           [CountryRegion], [PostalCode]
    FROM [SalesLT].[Address]
    ORDER BY [CountryRegion], [StateProvince], [City];
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Address_GetByCountryRegion]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Get Addresses by Country/Region
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Address_GetByCountryRegion]
    @CountryRegion NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [AddressID], [AddressLine1], [City], [StateProvince], [PostalCode]
    FROM [SalesLT].[Address]
    WHERE [CountryRegion] = @CountryRegion
    ORDER BY [StateProvince], [City];
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Address_GetByID]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Get Address by ID
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Address_GetByID]
    @AddressID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [AddressID], [AddressLine1], [AddressLine2], [City], [StateProvince],
           [CountryRegion], [PostalCode], [rowguid], [ModifiedDate]
    FROM [SalesLT].[Address]
    WHERE [AddressID] = @AddressID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Address_SearchByCity]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Search Addresses by City
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Address_SearchByCity]
    @City NVARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [AddressID], [AddressLine1], [AddressLine2], [City], [StateProvince],
           [CountryRegion], [PostalCode]
    FROM [SalesLT].[Address]
    WHERE [City] LIKE '%' + @City + '%'
    ORDER BY [City], [AddressLine1];
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Address_Update]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Update Address
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Address_Update]
    @AddressID INT,
    @AddressLine1 NVARCHAR(60) = NULL,
    @City NVARCHAR(30) = NULL,
    @StateProvince NVARCHAR(50) = NULL,
    @PostalCode NVARCHAR(15) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [SalesLT].[Address]
    SET
        [AddressLine1] = ISNULL(@AddressLine1, [AddressLine1]),
        [City] = ISNULL(@City, [City]),
        [StateProvince] = ISNULL(@StateProvince, [StateProvince]),
        [PostalCode] = ISNULL(@PostalCode, [PostalCode]),
        [ModifiedDate] = GETDATE()
    WHERE [AddressID] = @AddressID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Customer_Create]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Create Customer
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Customer_Create]
    @NameStyle BIT,
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Title NVARCHAR(8) = NULL,
    @MiddleName NVARCHAR(50) = NULL,
    @EmailAddress NVARCHAR(50) = NULL,
    @Phone NVARCHAR(25) = NULL,
    @CompanyName NVARCHAR(128) = NULL,
    @PasswordHash VARCHAR(128),
    @PasswordSalt VARCHAR(10),
    @CustomerID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [SalesLT].[Customer]
    ([NameStyle], [Title], [FirstName], [MiddleName], [LastName],
     [CompanyName], [EmailAddress], [Phone], [PasswordHash],
     [PasswordSalt], [rowguid], [ModifiedDate])
    VALUES
    (@NameStyle, @Title, @FirstName, @MiddleName, @LastName,
     @CompanyName, @EmailAddress, @Phone, @PasswordHash,
     @PasswordSalt, NEWID(), GETDATE());

    SET @CustomerID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Customer_Delete]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Delete Customer
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Customer_Delete]
    @CustomerID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM [SalesLT].[Customer]
    WHERE [CustomerID] = @CustomerID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Customer_GetAll]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Get All Customers
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Customer_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [CustomerID], [NameStyle], [Title], [FirstName], [MiddleName], [LastName],
           [CompanyName], [EmailAddress], [Phone], [rowguid], [ModifiedDate]
    FROM [SalesLT].[Customer]
    ORDER BY [LastName], [FirstName];
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Customer_GetByEmail]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Get Customer by Email
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Customer_GetByEmail]
    @EmailAddress NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [CustomerID], [FirstName], [LastName], [EmailAddress], [CompanyName]
    FROM [SalesLT].[Customer]
    WHERE [EmailAddress] = @EmailAddress;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Customer_GetByID]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Get Customer by ID
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Customer_GetByID]
    @CustomerID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [CustomerID], [NameStyle], [Title], [FirstName], [MiddleName], [LastName],
           [CompanyName], [EmailAddress], [Phone], [PasswordHash], [PasswordSalt],
           [rowguid], [ModifiedDate]
    FROM [SalesLT].[Customer]
    WHERE [CustomerID] = @CustomerID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Customer_SearchByName]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Search Customers by Name
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Customer_SearchByName]
    @SearchTerm NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [CustomerID], [FirstName], [LastName], [EmailAddress], [CompanyName], [ModifiedDate]
    FROM [SalesLT].[Customer]
    WHERE [FirstName] LIKE '%' + @SearchTerm + '%'
       OR [LastName] LIKE '%' + @SearchTerm + '%'
       OR [CompanyName] LIKE '%' + @SearchTerm + '%'
    ORDER BY [LastName], [FirstName];
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Customer_Update]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Update Customer
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Customer_Update]
    @CustomerID INT,
    @FirstName NVARCHAR(50) = NULL,
    @LastName NVARCHAR(50) = NULL,
    @EmailAddress NVARCHAR(50) = NULL,
    @Phone NVARCHAR(25) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [SalesLT].[Customer]
    SET
        [FirstName] = ISNULL(@FirstName, [FirstName]),
        [LastName] = ISNULL(@LastName, [LastName]),
        [EmailAddress] = COALESCE(@EmailAddress, [EmailAddress]),
        [Phone] = COALESCE(@Phone, [Phone]),
        [ModifiedDate] = GETDATE()
    WHERE [CustomerID] = @CustomerID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_CustomerAddress_Create]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_CustomerAddress_Create]
    @CustomerID INT,
    @AddressID INT,
    @AddressType NVARCHAR(50)
AS BEGIN
    SET NOCOUNT ON;
    INSERT INTO [SalesLT].[CustomerAddress]([CustomerID], [AddressID], [AddressType], [rowguid], [ModifiedDate])
    VALUES(@CustomerID, @AddressID, @AddressType, NEWID(), GETDATE());
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_CustomerAddress_Delete]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_CustomerAddress_Delete]
    @CustomerID INT,
    @AddressID INT
AS BEGIN
    SET NOCOUNT ON;
    DELETE FROM [SalesLT].[CustomerAddress]
    WHERE [CustomerID] = @CustomerID AND [AddressID] = @AddressID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_CustomerAddress_Get]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_CustomerAddress_Get]
    @CustomerID INT,
    @AddressID INT
AS BEGIN
    SET NOCOUNT ON;
    SELECT [CustomerID], [AddressID], [AddressType], [ModifiedDate]
    FROM [SalesLT].[CustomerAddress]
    WHERE [CustomerID] = @CustomerID AND [AddressID] = @AddressID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_CustomerAddress_GetAll]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_CustomerAddress_GetAll]
AS BEGIN
    SET NOCOUNT ON;
    SELECT [CustomerID], [AddressID], [AddressType], [ModifiedDate]
    FROM [SalesLT].[CustomerAddress]
    ORDER BY [CustomerID], [AddressType];
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_CustomerAddress_GetByCustomer]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_CustomerAddress_GetByCustomer]
    @CustomerID INT
AS BEGIN
    SET NOCOUNT ON;
    SELECT ca.[CustomerID], ca.[AddressID], ca.[AddressType], a.[AddressLine1], a.[City], a.[StateProvince]
    FROM [SalesLT].[CustomerAddress] ca
    JOIN [SalesLT].[Address] a ON ca.[AddressID] = a.[AddressID]
    WHERE ca.[CustomerID] = @CustomerID
    ORDER BY ca.[AddressType];
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_CustomerAddress_Update]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_CustomerAddress_Update]
    @CustomerID INT,
    @AddressID INT,
    @AddressType NVARCHAR(50) = NULL
AS BEGIN
    SET NOCOUNT ON;
    UPDATE [SalesLT].[CustomerAddress]
    SET [AddressType] = ISNULL(@AddressType, [AddressType]), [ModifiedDate] = GETDATE()
    WHERE [CustomerID] = @CustomerID AND [AddressID] = @AddressID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Product_Create]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Create Product
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Product_Create]
    @Name NVARCHAR(50),
    @ProductNumber NVARCHAR(25),
    @Color NVARCHAR(15) = NULL,
    @StandardCost MONEY,
    @ListPrice MONEY,
    @Size NVARCHAR(5) = NULL,
    @Weight DECIMAL(8, 2) = NULL,
    @ProductCategoryID INT = NULL,
    @ProductModelID INT = NULL,
    @SellStartDate DATETIME,
    @SellEndDate DATETIME = NULL,
    @DiscontinuedDate DATETIME = NULL,
    @ThumbnailPhotoFileName NVARCHAR(50) = NULL,
    @ProductID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [SalesLT].[Product]
    ([Name], [ProductNumber], [Color], [StandardCost], [ListPrice], [Size], [Weight],
     [ProductCategoryID], [ProductModelID], [SellStartDate], [SellEndDate], [DiscontinuedDate],
     [ThumbnailPhotoFileName], [rowguid], [ModifiedDate])
    VALUES
    (@Name, @ProductNumber, @Color, @StandardCost, @ListPrice, @Size, @Weight,
     @ProductCategoryID, @ProductModelID, @SellStartDate, @SellEndDate, @DiscontinuedDate,
     @ThumbnailPhotoFileName, NEWID(), GETDATE());

    SET @ProductID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Product_Delete]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Delete Product
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Product_Delete]
    @ProductID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM [SalesLT].[Product]
    WHERE [ProductID] = @ProductID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Product_GetActive]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Get Active Products
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Product_GetActive]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [ProductID], [Name], [ProductNumber], [Color], [StandardCost], [ListPrice],
           [Size], [Weight], [ProductCategoryID], [ProductModelID], [SellStartDate],
           [SellEndDate], [DiscontinuedDate], [ThumbnailPhotoFileName], [rowguid], [ModifiedDate]
    FROM [SalesLT].[Product]
    WHERE [SellStartDate] <= GETDATE()
      AND ([SellEndDate] IS NULL OR [SellEndDate] >= GETDATE())
      AND [DiscontinuedDate] IS NULL
    ORDER BY [Name];
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Product_GetAll]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Get All Products
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Product_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [ProductID], [Name], [ProductNumber], [Color], [StandardCost], [ListPrice],
           [Size], [Weight], [ProductCategoryID], [ProductModelID], [SellStartDate],
           [SellEndDate], [DiscontinuedDate], [ThumbnailPhotoFileName], [rowguid], [ModifiedDate]
    FROM [SalesLT].[Product]
    ORDER BY [Name];
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Product_GetByID]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Get Product by ID
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Product_GetByID]
    @ProductID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [ProductID], [Name], [ProductNumber], [Color], [StandardCost], [ListPrice],
           [Size], [Weight], [ProductCategoryID], [ProductModelID], [SellStartDate],
           [SellEndDate], [DiscontinuedDate], [ThumbnailPhotoFileName], [rowguid], [ModifiedDate]
    FROM [SalesLT].[Product]
    WHERE [ProductID] = @ProductID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Product_SearchByName]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Search Products by Name
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Product_SearchByName]
    @SearchTerm NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [ProductID], [Name], [ProductNumber], [Color], [StandardCost], [ListPrice],
           [Size], [Weight], [ProductCategoryID], [ProductModelID], [SellStartDate],
           [SellEndDate], [DiscontinuedDate], [ThumbnailPhotoFileName], [rowguid], [ModifiedDate]
    FROM [SalesLT].[Product]
    WHERE [Name] LIKE '%' + @SearchTerm + '%'
    ORDER BY [Name];
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_Product_Update]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Update Product
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_Product_Update]
    @ProductID INT,
    @Name NVARCHAR(50) = NULL,
    @StandardCost MONEY = NULL,
    @ListPrice MONEY = NULL,
    @Color NVARCHAR(15) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [SalesLT].[Product]
    SET
        [Name] = ISNULL(@Name, [Name]),
        [StandardCost] = ISNULL(@StandardCost, [StandardCost]),
        [ListPrice] = ISNULL(@ListPrice, [ListPrice]),
        [Color] = COALESCE(@Color, [Color]),
        [ModifiedDate] = GETDATE()
    WHERE [ProductID] = @ProductID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductCategory_Create]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Create ProductCategory
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_ProductCategory_Create]
    @Name NVARCHAR(50),
    @ParentProductCategoryID INT = NULL,
    @ProductCategoryID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [SalesLT].[ProductCategory]
    ([Name], [ParentProductCategoryID], [rowguid], [ModifiedDate])
    VALUES
    (@Name, @ParentProductCategoryID, NEWID(), GETDATE());

    SET @ProductCategoryID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductCategory_Delete]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Delete ProductCategory
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_ProductCategory_Delete]
    @ProductCategoryID INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [SalesLT].[ProductCategory]
    SET [ParentProductCategoryID] = NULL
    WHERE [ParentProductCategoryID] = @ProductCategoryID;

    DELETE FROM [SalesLT].[ProductCategory]
    WHERE [ProductCategoryID] = @ProductCategoryID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductCategory_GetAll]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Get All ProductCategories
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_ProductCategory_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [ProductCategoryID], [Name], [ParentProductCategoryID], [rowguid], [ModifiedDate]
    FROM [SalesLT].[ProductCategory]
    ORDER BY [Name];
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductCategory_GetByID]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Get ProductCategory by ID
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_ProductCategory_GetByID]
    @ProductCategoryID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [ProductCategoryID], [Name], [ParentProductCategoryID], [rowguid], [ModifiedDate]
    FROM [SalesLT].[ProductCategory]
    WHERE [ProductCategoryID] = @ProductCategoryID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductCategory_GetRootCategories]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Get Root Categories (No Parent)
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_ProductCategory_GetRootCategories]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [ProductCategoryID], [Name], [ParentProductCategoryID], [rowguid], [ModifiedDate]
    FROM [SalesLT].[ProductCategory]
    WHERE [ParentProductCategoryID] IS NULL
    ORDER BY [Name];
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductCategory_Update]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Update ProductCategory
-- =============================================
CREATE PROCEDURE [SalesLT].[usp_ProductCategory_Update]
    @ProductCategoryID INT,
    @Name NVARCHAR(50) = NULL,
    @ParentProductCategoryID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [SalesLT].[ProductCategory]
    SET
        [Name] = ISNULL(@Name, [Name]),
        [ParentProductCategoryID] = COALESCE(@ParentProductCategoryID, [ParentProductCategoryID]),
        [ModifiedDate] = GETDATE()
    WHERE [ProductCategoryID] = @ProductCategoryID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductDescription_Create]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_ProductDescription_Create]
    @Description NVARCHAR(400),
    @ProductDescriptionID INT OUTPUT
AS BEGIN
    SET NOCOUNT ON;
    INSERT INTO [SalesLT].[ProductDescription]([Description], [rowguid], [ModifiedDate])
    VALUES(@Description, NEWID(), GETDATE());
    SET @ProductDescriptionID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductDescription_Delete]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_ProductDescription_Delete]
    @ProductDescriptionID INT
AS BEGIN
    SET NOCOUNT ON;
    DELETE FROM [SalesLT].[ProductDescription]
    WHERE [ProductDescriptionID] = @ProductDescriptionID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductDescription_GetAll]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_ProductDescription_GetAll]
AS BEGIN
    SET NOCOUNT ON;
    SELECT [ProductDescriptionID], [Description], [ModifiedDate]
    FROM [SalesLT].[ProductDescription]
    ORDER BY [ProductDescriptionID];
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductDescription_GetByID]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_ProductDescription_GetByID]
    @ProductDescriptionID INT
AS BEGIN
    SET NOCOUNT ON;
    SELECT [ProductDescriptionID], [Description], [ModifiedDate]
    FROM [SalesLT].[ProductDescription]
    WHERE [ProductDescriptionID] = @ProductDescriptionID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductDescription_Update]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_ProductDescription_Update]
    @ProductDescriptionID INT,
    @Description NVARCHAR(400) = NULL
AS BEGIN
    SET NOCOUNT ON;
    UPDATE [SalesLT].[ProductDescription]
    SET [Description] = ISNULL(@Description, [Description]),
        [ModifiedDate] = GETDATE()
    WHERE [ProductDescriptionID] = @ProductDescriptionID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductModel_Create]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_ProductModel_Create]
    @Name NVARCHAR(50),
    @CatalogDescription XML = NULL,
    @ProductModelID INT OUTPUT
AS BEGIN
    SET NOCOUNT ON;
    INSERT INTO [SalesLT].[ProductModel]([Name], [CatalogDescription], [rowguid], [ModifiedDate])
    VALUES(@Name, @CatalogDescription, NEWID(), GETDATE());
    SET @ProductModelID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductModel_Delete]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_ProductModel_Delete]
    @ProductModelID INT
AS BEGIN
    SET NOCOUNT ON;
    DELETE FROM [SalesLT].[ProductModel]
    WHERE [ProductModelID] = @ProductModelID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductModel_GetAll]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_ProductModel_GetAll]
AS BEGIN
    SET NOCOUNT ON;
    SELECT [ProductModelID], [Name], [ModifiedDate]
    FROM [SalesLT].[ProductModel]
    ORDER BY [Name];
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductModel_GetByID]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_ProductModel_GetByID]
    @ProductModelID INT
AS BEGIN
    SET NOCOUNT ON;
    SELECT [ProductModelID], [Name], [CatalogDescription], [ModifiedDate]
    FROM [SalesLT].[ProductModel]
    WHERE [ProductModelID] = @ProductModelID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductModelProductDescription_Create]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_ProductModelProductDescription_Create]
    @ProductModelID INT,
    @ProductDescriptionID INT,
    @Culture NCHAR(6)
AS BEGIN
    SET NOCOUNT ON;
    INSERT INTO [SalesLT].[ProductModelProductDescription]([ProductModelID], [ProductDescriptionID], [Culture], [rowguid], [ModifiedDate])
    VALUES(@ProductModelID, @ProductDescriptionID, @Culture, NEWID(), GETDATE());
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductModelProductDescription_Delete]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_ProductModelProductDescription_Delete]
    @ProductModelID INT,
    @ProductDescriptionID INT,
    @Culture NCHAR(6)
AS BEGIN
    SET NOCOUNT ON;
    DELETE FROM [SalesLT].[ProductModelProductDescription]
    WHERE [ProductModelID] = @ProductModelID AND [ProductDescriptionID] = @ProductDescriptionID AND [Culture] = @Culture;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductModelProductDescription_Get]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_ProductModelProductDescription_Get]
    @ProductModelID INT,
    @ProductDescriptionID INT,
    @Culture NCHAR(6)
AS BEGIN
    SET NOCOUNT ON;
    SELECT [ProductModelID], [ProductDescriptionID], [Culture], [ModifiedDate]
    FROM [SalesLT].[ProductModelProductDescription]
    WHERE [ProductModelID] = @ProductModelID AND [ProductDescriptionID] = @ProductDescriptionID AND [Culture] = @Culture;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductModelProductDescription_GetAll]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_ProductModelProductDescription_GetAll]
AS BEGIN
    SET NOCOUNT ON;
    SELECT [ProductModelID], [ProductDescriptionID], [Culture], [ModifiedDate]
    FROM [SalesLT].[ProductModelProductDescription]
    ORDER BY [ProductModelID], [Culture];
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_ProductModelProductDescription_Update]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_ProductModelProductDescription_Update]
    @ProductModelID INT,
    @ProductDescriptionID INT,
    @CultureOld NCHAR(6),
    @CultureNew NCHAR(6)
AS BEGIN
    SET NOCOUNT ON;
    UPDATE [SalesLT].[ProductModelProductDescription]
    SET [Culture] = @CultureNew, [ModifiedDate] = GETDATE()
    WHERE [ProductModelID] = @ProductModelID AND [ProductDescriptionID] = @ProductDescriptionID AND [Culture] = @CultureOld;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_SalesOrderDetail_Create]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_SalesOrderDetail_Create]
    @SalesOrderID INT,
    @ProductID INT,
    @OrderQty SMALLINT,
    @UnitPrice MONEY,
    @UnitPriceDiscount MONEY = 0,
    @SalesOrderDetailID INT OUTPUT
AS BEGIN
    SET NOCOUNT ON;
    INSERT INTO [SalesLT].[SalesOrderDetail]([SalesOrderID], [ProductID], [OrderQty], [UnitPrice], [UnitPriceDiscount], [rowguid], [ModifiedDate])
    VALUES(@SalesOrderID, @ProductID, @OrderQty, @UnitPrice, @UnitPriceDiscount, NEWID(), GETDATE());
    SET @SalesOrderDetailID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_SalesOrderDetail_Delete]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_SalesOrderDetail_Delete]
    @SalesOrderID INT,
    @SalesOrderDetailID INT
AS BEGIN
    SET NOCOUNT ON;
    DELETE FROM [SalesLT].[SalesOrderDetail]
    WHERE [SalesOrderID] = @SalesOrderID AND [SalesOrderDetailID] = @SalesOrderDetailID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_SalesOrderDetail_Get]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_SalesOrderDetail_Get]
    @SalesOrderID INT,
    @SalesOrderDetailID INT
AS BEGIN
    SET NOCOUNT ON;
    SELECT [SalesOrderID], [SalesOrderDetailID], [OrderQty], [ProductID], [UnitPrice], [LineTotal]
    FROM [SalesLT].[SalesOrderDetail]
    WHERE [SalesOrderID] = @SalesOrderID AND [SalesOrderDetailID] = @SalesOrderDetailID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_SalesOrderDetail_GetAll]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_SalesOrderDetail_GetAll]
AS BEGIN
    SET NOCOUNT ON;
    SELECT [SalesOrderID], [SalesOrderDetailID], [OrderQty], [ProductID], [UnitPrice], [LineTotal]
    FROM [SalesLT].[SalesOrderDetail]
    ORDER BY [SalesOrderID], [SalesOrderDetailID];
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_SalesOrderDetail_GetByOrder]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_SalesOrderDetail_GetByOrder]
    @SalesOrderID INT
AS BEGIN
    SET NOCOUNT ON;
    SELECT sod.[SalesOrderDetailID], sod.[OrderQty], p.[Name], sod.[UnitPrice], sod.[LineTotal]
    FROM [SalesLT].[SalesOrderDetail] sod
    JOIN [SalesLT].[Product] p ON sod.[ProductID] = p.[ProductID]
    WHERE sod.[SalesOrderID] = @SalesOrderID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_SalesOrderDetail_Update]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_SalesOrderDetail_Update]
    @SalesOrderID INT,
    @SalesOrderDetailID INT,
    @OrderQty SMALLINT = NULL,
    @UnitPrice MONEY = NULL
AS BEGIN
    SET NOCOUNT ON;
    UPDATE [SalesLT].[SalesOrderDetail]
    SET [OrderQty] = ISNULL(@OrderQty, [OrderQty]), [UnitPrice] = ISNULL(@UnitPrice, [UnitPrice]), [ModifiedDate] = GETDATE()
    WHERE [SalesOrderID] = @SalesOrderID AND [SalesOrderDetailID] = @SalesOrderDetailID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_SalesOrderHeader_Create]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_SalesOrderHeader_Create]
    @RevisionNumber TINYINT,
    @OrderDate DATETIME,
    @DueDate DATETIME,
    @CustomerID INT,
    @ShipMethod NVARCHAR(50),
    @SubTotal MONEY,
    @TaxAmt MONEY,
    @Freight MONEY,
    @SalesOrderID INT OUTPUT
AS BEGIN
    SET NOCOUNT ON;
    INSERT INTO [SalesLT].[SalesOrderHeader]([RevisionNumber], [OrderDate], [DueDate], [CustomerID], [ShipMethod], [SubTotal], [TaxAmt], [Freight], [Status], [OnlineOrderFlag], [rowguid], [ModifiedDate])
    VALUES(@RevisionNumber, @OrderDate, @DueDate, @CustomerID, @ShipMethod, @SubTotal, @TaxAmt, @Freight, 1, 0, NEWID(), GETDATE());
    SET @SalesOrderID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_SalesOrderHeader_Delete]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_SalesOrderHeader_Delete]
    @SalesOrderID INT
AS BEGIN
    SET NOCOUNT ON;
    DELETE FROM [SalesLT].[SalesOrderHeader]
    WHERE [SalesOrderID] = @SalesOrderID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_SalesOrderHeader_GetAll]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_SalesOrderHeader_GetAll]
    @Limit INT = 100
AS BEGIN
    SET NOCOUNT ON;
    SELECT TOP (@Limit) [SalesOrderID], [OrderDate], [CustomerID], [Status], [TotalDue]
    FROM [SalesLT].[SalesOrderHeader]
    ORDER BY [OrderDate] DESC;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_SalesOrderHeader_GetByCustomer]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_SalesOrderHeader_GetByCustomer]
    @CustomerID INT
AS BEGIN
    SET NOCOUNT ON;
    SELECT [SalesOrderID], [SalesOrderNumber], [OrderDate], [DueDate], [Status], [TotalDue]
    FROM [SalesLT].[SalesOrderHeader]
    WHERE [CustomerID] = @CustomerID
    ORDER BY [OrderDate] DESC;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_SalesOrderHeader_GetByID]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_SalesOrderHeader_GetByID]
    @SalesOrderID INT
AS BEGIN
    SET NOCOUNT ON;
    SELECT [SalesOrderID], [OrderDate], [DueDate], [ShipDate], [Status], [CustomerID], [SubTotal], [TaxAmt], [Freight], [TotalDue], [ModifiedDate]
    FROM [SalesLT].[SalesOrderHeader]
    WHERE [SalesOrderID] = @SalesOrderID;
END
GO
/****** Object:  StoredProcedure [SalesLT].[usp_SalesOrderHeader_Update]    Script Date: 2026-07-20 10:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SalesLT].[usp_SalesOrderHeader_Update]
    @SalesOrderID INT,
    @Status TINYINT = NULL,
    @ShipDate DATETIME = NULL
AS BEGIN
    SET NOCOUNT ON;
    UPDATE [SalesLT].[SalesOrderHeader]
    SET [Status] = ISNULL(@Status, [Status]), [ShipDate] = COALESCE(@ShipDate, [ShipDate]), [ModifiedDate] = GETDATE()
    WHERE [SalesOrderID] = @SalesOrderID;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Logs error information in the ErrorLog table about the error that caused execution to jump to the CATCH block of a TRY...CATCH construct. Should be executed from within the scope of a CATCH block otherwise it will return without inserting error information.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'uspLogError'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Output parameter for the stored procedure uspLogError. Contains the ErrorLogID value corresponding to the row inserted by uspLogError in the ErrorLog table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'uspLogError', @level2type=N'PARAMETER',@level2name=N'@ErrorLogID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Prints error information about the error that caused execution to jump to the CATCH block of a TRY...CATCH construct. Should be executed from within the scope of a CATCH block otherwise it will return without printing any error information.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'uspPrintError'
GO
