USE [AdventureWorksLT2016]
GO
/****** Object:  UserDefinedDataType [dbo].[AccountNumber]    Script Date: 2026-07-20 9:19:08 PM ******/
CREATE TYPE [dbo].[AccountNumber] FROM [nvarchar](15) NULL
GO
